.node {
  background-color: white;
  border: 1px solid #e9d8fd;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.node.start {
  background-color: red;
}

.node.finish {
  background-color: green;
}

.node.wall {
  background-color: black;
}

.node.visited {
  background-color: blue;
}

.node.path {
  background-color: yellow;
}
