.node {
	width: 25px;
	height: 25px;
	outline: 1px solid #596268;
	display: inline-block;
	margin-top: -8px;
	margin-left: 1px;
}

.node-tutorial {
	outline: none;
	margin-left: 0.25em;
	vertical-align: bottom;
}

.node-start {
	background-color: red;
}

.node-finish {
	background-color: green;
}

.node-wall {
	background-color: black;
}

.node-visited {
	background-color: #61a8df;
}

.node-path {
	background-color: yellow;
}
